@model IEnumerable<VotingSystem.Models.Voter>

@{
    ViewData["Title"] = "Index";
}

<h1>Voters</h1>

<p>
    <a class="btn btn-secondary"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mobileMo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.voted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileMo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
