@model IEnumerable<VotingSystem.Models.VoteResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Results</h1>

<p>
    <a class="btn btn-secondary"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Candidate.candidateId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voter.idNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.positionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
