@model IEnumerable<VotingSystem.Models.CandidatePosition>
@{
    ViewData["Title"] = "Home Page";
}
<!-- Remember to include jQuery :) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

<div class="text-center">
    <h2 class="display-4">Online Voting System </h2>
    <br />
    <a class="btn btn-danger" style="color:white" onclick="Vote();" >Vote</a>
</div>
@{ int count = 1, countR = 0; }
<div class="container">

    <div class="Vote">

        <div class="form-group">
            <label  class="control-label">Voter Mobile No:</label>
            <input type="number" id="voterMobileNo" class="form-control" />        
        </div>
        <!-- Voting form -->
        @if (Model != null && Model.Any())
        {
            foreach (var group in Model.GroupBy(item => item.Position))
            {
                <div class="BlockP" style="border: 1px solid #bdbdbd; width: 100%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                    <div class="Position" style="padding: 2%;">
                        <span class="label label-warning"> @string.Format("{0}{1}.", "POSITION ", count)</span>
                        <span id="@string.Format("{0}{1}", "ID_P", count)" style="display:none;">@Html.Encode(group.Key.positionId)</span>
                        <p style="display: inline; padding: 2%; font-size:x-large" id="@string.Format("{0}{1}", "POSITION", count)">@Html.Encode(group.Key.PositionName)</p>
                    </div>
                    <div class="Choices" style="margin-left: 8%;">
                        @foreach (var item in group)
                 
                        {
                            <label class="radio-inline" style="margin-left: inherit;">
                                <input type="radio" style="width: auto;" name="@string.Format("{0}{1}", "inlineOptions", count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@Html.Encode(item.Candidate.candidateId)" >@Html.Encode(item.Candidate.name)
                            </label>

                           countR++;
                        }
                    
                    </div>
                </div>count++;
            }
        }
        </div>
    </div>

<script>
    function Vote() {

        if (document.getElementById("voterMobileNo").value == null || document.getElementById("voterMobileNo").value == "") {
            alert("you must enter voter mobile no");
        } else {
            var voterMobileNo = document.getElementById("voterMobileNo").value;
           
                $.ajax({
                    url: '/Home/checkValidVoter',
                    type: 'POST',
                    dataType: 'json',
                    data: { mobileNo: voterMobileNo },
                    success: function (response) {
                        
                        if (response == true) {

                            //save values here ...
                          addResult();

                        } else {
                            alert("User cannot vote, user does not exist in voters list or he already voted.");
                        }

                    },
                    error: function () {
                        alert('error');
                    }
                });
            
            //checkValidVoter(voterMobileNo);
            
        }
    };
    function addResult() {
        var count =@count;
        var countR=@countR;
        for ( i = 0; i < count; i++) {
            console.log(i);
            var voterId = 0;
            var positionId = 0;
            for (j = 0; j < countR; j++) {
                //get selected candidate
            }
        }
    }
</script>
       
